<div class="blog-post">
  <h2 class="blog-post-title">Title: <%= link_to blog.title.upcase, blog %></h2>
  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
  <p>
    <%= blog.body %>
  </p>
  <% if blog.user.id == current_user.id || logged_in?(:admin) %>
    <p class="blog-post-meta">
      *If you are the author of this article, only you will see the following
      <br>
      <strong>Article Status:</strong>
      <%= blog.status.upcase %>
      <%= link_to "Toggle Status", toggle_status_blog_path(blog), class: (blog.status == "draft" ? 'btn btn-secondary' : 'btn btn-primary') %> /
      <%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-success" %> /
      <%= link_to 'Delete Article', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </p>
  <% end  %>
</div>