<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="keywords" content="<%= @seo_keywords %>"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main">
      <header class="navbar">
        <%= link_to "Home", root_path, class: "btn" %>
        <%= link_to 'Articles Index', blogs_path, class: "btn" %>
        <% if current_user %>
          <%= link_to 'Write An Article', new_blog_path, class: "btn" %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn" %>
          <%= form_tag(blogs_path, class: "search", method: :get) do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag 'Search', class: "btn", name: nil %>
          <% end %>
        <% else  %>
          <%= link_to "Register", new_user_registration_path, class: "btn" %>
          <%= link_to "Login", new_user_session_path, class: "btn" %>
        <% end  %>
      </header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
